<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Assignment">


	<listeners>
		<listener class-name="com.Assignment.utilities" />

	</listeners>
	<test thread-count="5" name="Test">

		<!-- <parameter name="browser" value="chrome"/> -->

		<classes>
			<class name="com.Assignment.AmazonPage" />

			<class name="com.Assignment.FlipkartPage" />

			<class name="com.Assignment.PriceTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->